.login-page {
  width: 50%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page__submit-button {
  height: 50px;
  width: 150px;
  margin-top: 30px;

  border: 3px solid black;
  background: white;
  border-radius: 20px;

  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 2px;
}
