.radio-input {
}

.radio-input__input-label {
  font-weight: bold;
}

.radio-input__inputs-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inputs-area__input-label {
  margin-top: 10px;
}

.inputs-area__input-field {
  margin: 5px 5px 5px 10px;

  font-size: 1.1em;
}
