.main {
  position: relative;
  margin: 3px;
  padding: 5px;
  padding-left: 15px;

  background-color: darksalmon;

  &__inner-container {
    position: relative;
    margin: 25px 0px;
    padding-bottom: 10px;
    min-height: 600px;
    width: 98%;
    background: white;

    border: 3px solid black;
    border-radius: 10px;
  }
}
