.user-view__user-status-slock {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 15px;
  max-width: 60%;
  max-height: 11vh;
  overflow-y: hidden;

  background: white;
  border: 2px solid cornflowerblue;
  border-radius: 30px;
}
