.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);

  &__form {
    position: relative;
    top: 10%;
    margin: 0px auto;
    padding: 10px;
    width: 400px;
    height: 450px;

    background: white;
    border: none;
    border-radius: 40px;

    .form__close-button {
      position: absolute;
      top: 5px;
      right: 15px;
      width: 40px;
      height: 40px;

      cursor: pointer;
      background: rgba(0, 0, 0, 0);
      background-image: url('../../../../../assets/ShowFormButton/icons/back-arrow.png');
      background-size: contain;
      border: 1px solid black;
      border-radius: 6px;
    }

    .form__header {
      position: relative;
      text-align: center;

      font-size: 30px;
      font-weight: bold;
    }

    .form__section {
      position: relative;
      margin-top: 10px;
      padding: 10px;
      height: 370px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  //
  .section__input-label {
    font-weight: bold;
  }

  .section__input {
    margin-left: 20px;
    padding: 5px 5px 5px 15px;
    width: 200px;
    height: 24px;

    border: 2px solid black;
    border-radius: 20px;

    font-size: 1.1em;
  }
  //
  .section__gender-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .section__submit-button {
    width: 45%;
    height: 45px;
    margin: 0px auto;

    cursor: pointer;
    background: purple;
    border: 2px solid black;
    border-radius: 22px;

    color: white;
    font-size: 1.2em;
    font-weight: bold;
  }
}
