.navigation {
  position: absolute;
  right: 15px;
  top: -5px;
  transform: translateY(-100%);
}

.navigation__wrapped-link {
  text-decoration: none;
}

.navigation__button {
  height: 20px;
  width: 100px;
  margin-left: 10px;

  border: 2px solid black;
  border-bottom: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
