@font-face {
    font-family: 'Kanit';
    src: url(../../../../../assets/Card/fonts/Kanit/Kanit-Light.ttf);
}

.item {
    font-family: 'Kanit', Arial, sans-serif;
    position: relative;
    margin-top: 10px;
    margin-left: 9px;
	width: 300px;
	height: 300px;
    
    background: white;
	border: 1px solid gray;
    overflow: hidden;
    
    animation: showItem 1s;
    
    &__picture {
        position: absolute;
        width: 90%;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }
    
    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
    
        transition: opacity 0.6s;
    
        font-size: 1.2em;
        color: white;
    }
    
    &__cover:hover {
        opacity: 1;
    }
    
    &__tittle {
        position: absolute;
        top: 1%;
        left: 5%;
        width: 70%;
    
        background: rgba(0, 0, 0, 0);
    }

    &__tittle_blue {
        color: #00bfff;
    }

    &__tittle_pink {
        color: pink;
    }

    &__tittle_orange {
        color: orange;
    }
    
    &__price {
        background: rgba(0, 0, 0, 0);
    }

    &__delete-button {
        position: absolute;
        top: 1%;
        right: 1%;
        height: 40px;
        width: 40px;

        cursor: pointer;
        background: rgba(0, 0, 0, 0);
        background-image: url('../../../../../assets/Card/icons/red-cross.png');
        background-size: cover;
        border: none;
    }
}

@keyframes showItem{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}