.show-form-button-wrapper {
  position: relative;
  height: 100px;
  width: 100%;

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18%;
    min-height: 50px;

    cursor: pointer;
    border: 2px solid black;
    border-radius: 40px;

    font-size: 20px;
    font-weight: bold;
  }
}
