.input__input-label {
  font-weight: bold;
}

.input__input-field {
  margin-left: 20px;
  padding: 5px 5px 5px 15px;
  width: 200px;
  height: 24px;

  border: 2px solid black;
  border-radius: 20px;

  font-size: 1.1em;
}
