.formError {
  padding: 5px;
  font-weight: bold;
  font-size: 1.1em;

  &__error-container {
    padding: 5px;
    background: red;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    color: white;
  }
}
