.cards-container {
  position: relative;
  min-height: 600px;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__no-cards-class {
    margin: auto;

    font-size: 1.3em;
    text-align: center;
  }
}
